version: "3.3"

services:

  namenode:
    image: dmitryzagr/hadoop-namenode:1.2.1-hadoop2.8.1-java8
    hostname: namenode
    ports:
      - 50070:50070
    volumes:
      - ./data/namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop-hive.env

  datanode:
    image: dmitryzagr/hadoop-datanode:1.2.1-hadoop2.8.1-java8
    volumes:
      - ./data/datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop-hive.env
    depends_on:
      - namenode

  spark-master:
    image: dmitryzagr/spark-master:2.1.1-hadoop2.8.1-hive-java8
    hostname: spark-master
    ports:
      - "8080:8080"
    env_file:
      - ./hadoop-hive.env
    depends_on:
      - namenode
      - datanode

  spark-worker:
    image: dmitryzagr/spark-worker:2.1.1-hadoop2.8.1-hive-java8
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop-hive.env

  hive-server:
    image: dmitryzagr/hadoop-hive:2.2.0-hadoop2.8.1-java8
    hostname: hive-server
    env_file:
      - ./hadoop-hive.env
    environment:
      - "HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://hive-metastore/metastore"
    depends_on:
      - namenode
      - hive-metastore

  hive-metastore:
    image: dmitryzagr/hadoop-hive:2.2.0-hadoop2.8.1-java8
    hostname: hive-metastore
    env_file:
      - ./hadoop-hive.env
    command: /opt/hive/bin/hive --service metastore
    depends_on:
      - hive-metastore-postgresql

  hive-metastore-postgresql:
    image: dmitryzagr/hive-metastore-postgresql:2.2.0-hadoop2.8.1-java8
    hostname: hive-metastore-postgresql
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data

  zeppelin:
    image: apache/zeppelin:0.7.2
    ports:
      - 8081:8080
    environment:
      - ZEPPELIN_LOG_DIR=/logs
      - ZEPPELIN_NOTEBOOK_DIR=/notebook
    volumes:
      - ./conf/zeppelin/interpreter.json:/zeppelin/conf/interpreter.json
      - ./data/zeppelin/logs:/logs
      - ./data/zeppelin/notebook:/notebook
