version: "3.3"

services:

  traefik:
    image: traefik:1.4.5
    command: --web --docker --docker.domain=docker.localhost --logLevel=DEBUG
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./conf/traefik/traefik.toml:/etc/traefik/traefik.toml:ro
      - ./data/traefik/acme:/etc/traefik/acme
    labels:
      - traefik.enable=false

  namenode:
    image: dmitryzagr/hadoop-namenode:1.2.1-hadoop2.8.1-java8
    hostname: namenode
    ports:
      - 50070:50070
    volumes:
      - ./data/namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop-hive.env
    labels:
      - traefik.enable=false

  datanode_1:
    image: dmitryzagr/hadoop-datanode:1.2.1-hadoop2.8.1-java8
    volumes:
      - ./data/datanode_1:/hadoop/dfs/data
      - ./data/archives/:/root/hadoop_data
    env_file:
      - ./hadoop-hive.env
    depends_on:
      - namenode
    labels:
      - traefik.enable=false

  datanode_2:
    image: dmitryzagr/hadoop-datanode:1.2.1-hadoop2.8.1-java8
    volumes:
      - ./data/datanode_2:/hadoop/dfs/data
      - ./data/archives/:/root/hadoop_data
    env_file:
      - ./hadoop-hive.env
    depends_on:
      - namenode
    labels:
      - traefik.enable=false

  spark-master:
    image: dmitryzagr/spark-master:2.2.0-hadoop2.8.1-hive-java8
    hostname: spark-master
    ports:
      - "8989:8080"
    env_file:
      - ./hadoop-hive.env
    volumes:
      - ./data/spark-master/init.sh:/opt/hadoop-2.8.1/init.sh
      - ./conf/ceph/hadoop/core-site.xml:/opt/hadoop-2.8.1/etc/hadoop/core-site.xml
      - /home/zagrebaev/Dropbox/hadoop/FS/ceph-cluster/ceph.client.admin.keyring:/opt/hadoop-2.8.1/etc/hadoop/ceph.client.admin.keyring
      - /home/zagrebaev/Dropbox/hadoop/FS/ceph-cluster/admin.secret:/opt/hadoop-2.8.1/etc/hadoop/admin.secret
      - ./data/spark-master/init.sh:/opt/hadoop-2.8.1/etc/hadoop/init.sh
    depends_on:
      - namenode
    labels:
      - traefik.enable=false

  spark-worker:
    image: dmitryzagr/spark-worker:2.2.0-hadoop2.8.1-hive-java8
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop-hive.env
      - ./spark.env
    labels:
      - traefik.enable=false

  hive-server:
    image: dmitryzagr/hadoop-hive:2.2.0-hadoop2.8.1-java8
    hostname: hive-server
    env_file:
      - ./hadoop-hive.env
    environment:
      - "HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://hive-metastore/metastore"
    depends_on:
      - namenode
      - hive-metastore
    labels:
      - traefik.enable=false

  hive-metastore:
    image: dmitryzagr/hadoop-hive:2.2.0-hadoop2.8.1-java8
    hostname: hive-metastore
    env_file:
      - ./hadoop-hive.env
    command: /opt/hive/bin/hive --service metastore
    depends_on:
      - hive-metastore-postgresql
    labels:
      - traefik.enable=false

  hive-metastore-postgresql:
    image: dmitryzagr/hive-metastore-postgresql:2.2.0-hadoop2.8.1-java8
    hostname: hive-metastore-postgresql
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    labels:
      - traefik.enable=false

  zeppelin:
    image: apache/zeppelin:0.7.3
    environment:
      - ZEPPELIN_LOG_DIR=/logs
      - ZEPPELIN_NOTEBOOK_DIR=/notebook
      - ZEPPELIN_SERVER_CONTEXT_PATH=/zeppelin
    volumes:
      - ./conf/zeppelin/interpreter.json:/zeppelin/conf/interpreter.json
      - ./conf/zeppelin/conf/shiro.ini:/zeppelin/conf/shiro.ini
      - ./conf/zeppelin/conf/zeppelin-site.xml:/zeppelin/conf/zeppelin-site.xml
      - ./data/zeppelin/logs:/logs
      - ./data/zeppelin/notebook:/notebook
    labels:
     - "traefik.backend=zeppelin"
     - "traefik.backend.loadbalancer.sticky=true"
     - "traefik.frontend.rule=PathPrefix:/zeppelin"
     - "traefik.enable=true"
     - "traefik.port=8080"
      
